$purple-theme:(
color-fm-theme: #7056BB,
//主要工具显示颜色
color-main-tool: rgba(112,86,187,1),
//按钮颜色
color-fm-theme-button: #7056BB,
color-fm-theme-button-disable: rgba(112,86,187,0.3),
color-fm-theme-cancel-button-hover: rgba(112,86,187,0.1),
color-fm-theme-button-hover: rgba(112,86,187,0.8),
color-fm-theme-button-color: white,
//文字按钮颜色
color-fm-theme-text-button: #7056BB,
//标签边框颜色
color-tag-border-color: rgba(112,86,187,0.2),
color-tag-background-color: rgba(112,86,187,0.1),

color-da-title: #FFFFFF,
color-header: #FFFFFF,
color-bottom: #FFFFFF,
image-aside-background: url("/static/image/fileManager/er-ball.png"),
image-header-user: url("/static/image/fileManager/user-purple.png"),
);
